<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="public" value="https://api.nuget.org/v3/index.json" />
        <add key="customfeed" value="https://pkgs.dev.azure.com/kuaminika/_packaging/kuaminika/nuget/v3/index.json"  />
    </packageSources>

    <packageSourceCredentials>
        <customfeed>
            <add key="Username" value="kuaminika" />
            <add key="ClearTextPassword" value="f7vrhuwsbqmczs3k2nx2bh3rcv22dhakbox3v3fxo3qlmggkcsaa" />    
        </customfeed>
    </packageSourceCredentials>
</configuration>